In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import pearsonr, spearmanr
%matplotlib inline
df = pd.read_csv('alpha24_step15Stud.csv')
df['temp'] = df['temp'].apply(lambda x: x.replace(',','.')).astype('float64')
df['Ts'] = df['Ts'].apply(lambda x: x.replace(',','.')).astype('float64')

In [3]:
df.head()

   czas(min)  alpha  temp    Ts
0          0      1  6.50  2.00
1         15      0  6.35  2.18
2         30      0  6.20  2.19
3         45      1  6.05  1.68
4         60      1  5.90  1.50

In [4]:
del df['czas(min)']
df['Ts+1'] = df['Ts'].shift(-1)

In [5]:
df.head()

   alpha  temp    Ts  Ts+1
0      1  6.50  2.00  2.18
1      0  6.35  2.18  2.19
2      0  6.20  2.19  1.68
3      1  6.05  1.68  1.50
4      1  5.90  1.50  1.64

In [6]:
df['Ts'].describe()

count    2976.000000
mean       -0.840649
std         1.336870
min        -3.150000
25%        -1.940000
50%        -1.055000
75%         0.160000
max         3.910000
Name: Ts, dtype: float64

In [7]:
df['temp'].describe()

count    2976.000000
mean        6.155931
std         3.733827
min        -2.000000
25%         3.600000
50%         5.430000
75%         8.270000
max        20.300000
Name: temp, dtype: float64

In [8]:
df['tscopy'] = df['Ts']

In [9]:
df.head()

   alpha  temp    Ts  Ts+1  tscopy
0      1  6.50  2.00  2.18    2.00
1      0  6.35  2.18  2.19    2.18
2      0  6.20  2.19  1.68    2.19
3      1  6.05  1.68  1.50    1.68
4      1  5.90  1.50  1.64    1.50

In [10]:
df.head()

   alpha  temp    Ts  Ts+1  tscopy
0      1  6.50  2.00  2.18    2.00
1      0  6.35  2.18  2.19    2.18
2      0  6.20  2.19  1.68    2.19
3      1  6.05  1.68  1.50    1.68
4      1  5.90  1.50  1.64    1.50

In [11]:
df.tail()

      alpha   temp    Ts  Ts+1  tscopy
2971      0  11.75  2.90  2.96    2.90
2972      0  11.50  2.96  2.78    2.96
2973      1  11.27  2.78  2.72    2.78
2974      1  11.04  2.72  2.56    2.72
2975      1  10.81  2.56   NaN    2.56

In [12]:
df[:-3].tail()

      alpha   temp    Ts  Ts+1  tscopy
2968      1  12.50  2.78  2.95    2.78
2969      0  12.25  2.95  2.83    2.95
2970      1  12.00  2.83  2.90    2.83
2971      0  11.75  2.90  2.96    2.90
2972      0  11.50  2.96  2.78    2.96

In [26]:
ts = np.array([[6.05, 6.20, 6.35, 6.50], [1.50, 1.68, 2.19, 2.18]])
ts

array([[6.05, 6.2 , 6.35, 6.5 ],
       [1.5 , 1.68, 2.19, 2.18]])

In [44]:
for i in range(1,len(ts[1])):
    sum = 0
    print(f'podział na >={ts[0,i]}')
    print(f'zbiór pierwszy {ts[1,:i]}')
    m1 = ts[1][:i].mean()
    print(f'średnia = {m1}')
    for x in ts[1][:i]:
        sum += (x - m1)**2
    print(f'zbiór drugi {ts[1,i:]}')
    m2 = ts[1][i:].mean()
    print(f'średnia = {m2}')
    for x in ts[1][i:]:
        sum += (x - m2)**2
    print(f'SSR = {sum}')

podział na >=6.2
zbiór pierwszy [1.5]
średnia = 1.5
zbiór drugi [1.68 2.19 2.18]
średnia = 2.016666666666667
SSR = 0.17006666666666675
podział na >=6.35
zbiór pierwszy [1.5  1.68]
średnia = 1.5899999999999999
zbiór drugi [2.19 2.18]
średnia = 2.185
SSR = 0.016249999999999987
podział na >=6.5
zbiór pierwszy [1.5  1.68 2.19]
średnia = 1.7899999999999998
zbiór drugi [2.18]
średnia = 2.18
SSR = 0.2562

array([[6.05, 6.2 , 6.35, 6.5 ],
       [1.5 , 1.68, 2.19, 2.18]])