In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import pearsonr, spearmanr
%matplotlib inline

In [46]:
df = pd.read_csv('alpha24_step15Stud.csv')
df.head()

   czas(min)  alpha  temp    Ts
0          0      1  6,50     2
1         15      0  6,35  2,18
2         30      0  6,20  2,19
3         45      1  6,05  1,68
4         60      1  5,90   1,5

In [47]:
df['temp'] = df['temp'].apply(lambda x: x.replace(',','.')).astype('float64')
df['Ts'] = df['Ts'].apply(lambda x: x.replace(',','.')).astype('float64')

In [48]:
df.head()

   czas(min)  alpha  temp    Ts
0          0      1  6.50  2.00
1         15      0  6.35  2.18
2         30      0  6.20  2.19
3         45      1  6.05  1.68
4         60      1  5.90  1.50

In [49]:
df.set_index('czas(min)')
df.rename(columns={"czas(min)": "time", "alpha": "compressor", "temp": 'ambient_temp', "Ts": 'refrigerator_temp'}, inplace=True)
df.head()

   time  compressor  ambient_temp  refrigerator_temp
0     0           1          6.50               2.00
1    15           0          6.35               2.18
2    30           0          6.20               2.19
3    45           1          6.05               1.68
4    60           1          5.90               1.50